openapi: 3.0.3
info:
  title: StraxonSecure Internal RPC API
  version: 1.0.0
  description: >
    OpenAPI representation of the TanStack Start Server Functions. 
    In the actual implementation, these are RPC endpoints generated by Vinxi, 
    but they follow RESTful semantics for business logic separation.
servers:
  - url: https://api.straxonsecure.com/
    description: Production Server
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Supabase Auth JWT required for all endpoints
security:
  - BearerAuth: []
paths:
  /_server/billing/createStripeCheckout:
    post:
      summary: Initialize a Stripe Checkout Session
      description: Creates a simulated or live Stripe checkout session for upgrading to Pro.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [plan]
              properties:
                plan:
                  type: string
                  enum: [pro_monthly, pro_yearly]
      responses:
        '200':
          description: Checkout URL generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                  error:
                    type: string
                    nullable: true
  /_server/pentest/launchPentest:
    post:
      summary: Launch PTaaS Automated Scan
      description: Enqueues a penetration testing job for the Python ML sidecar to pick up.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [target, type]
              properties:
                target:
                  type: string
                  format: uri
                type:
                  type: string
                  enum: [quick, full, stealth]
      responses:
        '200':
          description: Job Enqueued Successfully
  /_server/soc/ingestThreatEvent:
    post:
      summary: Ingest EDR Threat Event
      description: Receives a raw payload from an endpoint agent and evaluates it using ML.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                eventType:
                  type: string
                payload:
                  type: object
      responses:
        '200':
          description: Event successfully ingested
  /_server/labs/startLabSession:
    post:
      summary: Provision Interactive Docker Lab
      description: Communicates with the ML Sidecar to spawn an isolated CTF lab container via Docker API.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [labId]
              properties:
                labId:
                  type: string
      responses:
        '200':
          description: Lab provisioned and proxy URL returned.
